*{padding:0;margin:0;font-size: 20px;}
.header	{ position:fixed; width:100%; z-index: 2; top:-35px;transition: top 500ms ease; }
.header_main	{ 
background:url('download.png') rgba(163, 70, 70, 0.9); 
box-shadow:0px 0px 2px 3px #571212; padding: 0 10px; position: absolute;right: 0;left: 0;  }
.header:hover{ top:0; animation: myfirst 1s;-webkit-animation: myfirst 1s;}
.coder{
position:fixed;
bottom:0;
width:100%;
height:200px;
background:url("noise.png") rgba(163, 70, 70, 0.1);
overflow:visible;
box-shadow: 0px 0px 10px 0px #000 inset;
transition: height 500ms ease;
}
.coder .cssbox, .coder .htmlbox{
width:48%;
width:calc(50% - 5px);
position:relative;
display:inline-block;
height:100%;
transition: width 500ms ease;
}
.coder .htmlbox{float:right;}
.coder .wrap{height:100%;width:100%;position:relative;}
.coder .resizebutton{position:absolute;right:10px;top:-23px;z-index:2;}

.coder textarea{
width:100%;height:100%;
background:transparent;
resize:none;
border-color: #808080;
padding:10px;
font-family:consolas;
font-size: 97%;
text-shadow: 1px 1px 1px #FFF,-1px 0px 1px #FFF;
}
.logo		{ font-family: fantasy; text-decoration:none; font-size:33px; color:rgba(0, 0, 0, 0.5); font-weight:bolder; text-shadow: 2px 1px 2px #E07474; }
.content	{ width:100%; background:whitesmoke; z-index: 0;}
iframe		{ position:absolute;width:100%;height:calc(100% - 210px);top:5px;right:0;border:0;transition: height 500ms ease; }

.controls	{ 
float: right;
position: relative;
right: 20px;
top: 13px;
font-size:20px;
height: 40px;
 }
.controls input	{display:none;}
.controls label	{
padding:7px 8px 6px 8px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background:rgba(124, 38, 38, 0.6);
margin:3px;
transition: top 500ms ease-out;
box-shadow:0 0 5px 2px #571212 inset;
text-shadow: 1px 1px 2px #E07474,-1px -1px 2px #E07474;
font-weight: bold;
font-family: consolas;
font-size: 90%;
}
.controls input:checked+label	{
background:#571212;
top: 34px;
position: relative;
border-radius: 0px 0px 10px 10px;
}
